local:
  label: "Local Disk"
  type: file
  path: '/home/myname/charts'
K.sky:
  label: "Kxxx: USA (Skyvector)"
  type: html
  url: 'https://skyvector.com'
  start: '/airports/United+States'
  folders:
    - select: '.view-content>.views-summary>a:not([href$="/United%20States/"])'
    - select: 'td.views-field-title>a'
      format:
        - replace: ['&amp;', '&']
  documents:
    - select: 'div.aptdata>a:has(img)'
      label:
        child: 'img'
        attrib: 'alt'
    - select: '.aptdata>ul>li.apttpp>a'
BI:
  label: "BIxx: Iceland Samgöngustofa"
  type: html
  url: 'http://eaip.samgongustofa.is'
  start: '/'
  folders:
    - select: 'td.green>a,h3.toc a'
      auto-follow: true
    - select: 'frame[name=eAISNavigation]'
      href: '@src'
      label: '@name'
      auto-follow: true
    - select: '#AD2013022615250806550004details .H3 a[title]'
    - select: '#AD2013022615371604540000details .H3 a[title]'
  documents:
    - select: 'td div.graphic-box a'
      format:
        - 'basename'
        - split: '-'
        - split: '_'
EG:
  label: "EGxx: United Kingdom NATS"
  type: html
  url: 'https://www.aurora.nats.co.uk'
  start: '/htmlAIP/Publications/2021-01-28-AIRAC/html/eAIP/EG-menu-en-GB.html'
  folders:
    - select: '#ADdetails #AD-2details>div.Hx>a[href!="#"]'
      label: 'a>*:not(.sdParams)'
      format:
        - replace: ['AD-2.', '']
  documents:
    - select: 'div[id$="2.24"] tr'
      # label: 'td p'
      href:
        child: '+tr a'
        attrib: 'href'
EH:
  label: "EHxx: Netherlands eAIP"
  type: html
  url: 'https://www.lvnl.nl'
  start: '/informatie-voor-luchtvarenden/publicaties-voor-luchtvarenden'
  folders:
    - select: 'frame[name=eAISMenuContentFrame],frame[name=eAISMenuFrameset],frame[name=eAISMenuContent]'
      href: '@src'
      label: '@name'
      format:
        - replace: ['eAIS', '']
        - replace: ['Menu', '']
        - 'split-humps'
      auto-follow: true
    - select: 'div.H1>a#AD,div.H1>a#ENR,div.H1>a#GEN'
      label: '@title'
    - select: 'a[title=eAIP]'
      auto-follow: true
    - select: 'h3.toc a'
      format:
        - replace: ['/', ' / ']
  documents:
    - select: 'td'
      href:
        child: 'div.Figure a'
        attrib: 'href'
      format:
        - replace: ['AD 2.', '']
        - replace: ['-', ' ']
EK:
  label: "EKxx: Denmark NavAID"
  type: navaid
  template: 'https://aim.naviair.dk/umbraco/api/naviairapi/getnodesforparent?parentId={parentid}'
EN:
  label: "ENxx: Norway Avinor"
  type: html
  url: 'https://ais.avinor.no'
  start: '/no/AIP/'
  folders:
    - select: '.history_pane a'
      auto-follow: true
    - select: 'frame[name=eAISNavigationBase]'
      href: '@src'
      auto-follow: true
    - select: 'frame[name=eAISCommands][src="commands-no-NO.html"]'
      href: '@src'
      auto-follow: true
    - select: 'div.menu-items p.command a[href="index-en-GB.html"]'
      auto-follow: true
    - select: 'frame[name=eAISNavigation][src^="eAIP/EN-menu"]'
      href: '@src'
      auto-follow: true
    - select: '#ADdetails #AD-2details>div.Hx>a[href!="#"]'
      label: '>:nth-child(2),>:nth-child(3)'
  documents:
    - select: 'div[id$="2.24"] tr'
      label: 'p,a'
      href:
        child: 'a[href$=".pdf"]'
        attrib: 'href'
ES:
  label: "ESxx: Sweden AROWeb"
  type: html
  url: 'https://aro.lfv.se'
  start: '/Editorial/View/IAIP?folderId=79'
  folders:
    - select: 'tr.sortableFolder-row'
      label: 'a'
      href:
        child: 'a.sortableFolder--rightArrow'
        attrib: 'href'
    - select: 'a.folder-link'
      label: 'span:not(.folder-arrow)'
  documents:
    - select: 'a.document-link[href^="/Editorial/View/"][href$="_en"]:has(span.document-prefix)'
      label: 'span.document-prefix,span.document-name'
LF:
  label: "LFxx: France SIA"
  type: html
  url: 'https://www.sia.aviation-civile.gouv.fr'
  start: '/dvd/eAIP_{airac.day2}_{airac.monthNameU3}_{airac.year}/FRANCE/AIRAC-{airac.year}-{airac.month2}-{airac.day2}/html/eAIP/FR-menu-fr-FR.html'
  folders:
    - select: 'div#AD-2-IFRdetails div.H3 a[href!="#"]'
    - select: 'div#AD-2-VFRdetails div.H3 a[href!="#"]'
    - select: 'div#AD-2-MILdetails div.H3 a[href!="#"]'
  documents:
    - select: 'div.graphic-box a'
      format:
        - 'basename'
        - split: '-'
        - split: '_'
LS:
  label: "LSxx: Switzerland vacc.ch"
  type: html
  url: 'https://www.vacc.ch'
  start: '/en/airports_and_charts/'
  folders:
    - select: 'select[name="airports_and_charts"]>option[value!=""]'
      href: '@value'
      context: '/en/airports_and_charts/'
  documents:
    - select: 'legend#charts~table tr:has(a)'
      label: 'td:nth-child(2),td:nth-child(3)'
      href:
        child: 'a'
        attrib: 'href'
      context: '!/en/airports_and_charts/'
# # Following doesn't work, because Germany decided to publish their charts as
# # PNG images embedded in HTML documents, encoded in `data:` URLs.
# ED:
#   label: "EDxx: Germany Luftfahrthandbuch"
#   type: html
#   url: 'https://aip.dfs.de'
#   start: '/basicIFR/'
#   folder-elems: 'a.folder-link'
#   folder-elem-url-attrib: 'href'
#   folder-elem-label: 'span.folder-prefix'
#   document-elems: 'a.does-not-exist'
